.projetos {
    padding: 60px 0px 60px 0px;
}

.projetos h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.125;
    margin-bottom: 60px;
}

.projetos-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.projetos-box div {
    background-color: #ededed;
    border-radius: 20px;
    max-width: max-content;
}

.projetos-box img {
    border-radius: 20px;
}

.projetos-box p{
    text-align: center;
    padding: 20px;
}

.projetos a {
    display: block;
    max-width: max-content;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .projetos h2 {
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
    
    .projetos-box {
        grid-template-columns: 1fr;
    }
}